/*===============================
=        About Page          =
===============================*/

#about-page {
    padding-bottom: 85px;
    @include breakpoint (desktop) {
       padding-bottom: 75px;
    }
    @include media-breakpoint-only(lg) {
        padding-bottom: 65px;
    }
    @include media-breakpoint-only(md) {
        padding-bottom: 55px;
    }
    @include media-breakpoint-down(sm) {
        padding-bottom: 45px;
    }
    .about-content {
        @include media-breakpoint-up(lg) {
            min-height: 468px;
        }
        .container {
            @include media-breakpoint-up(lg) {
                display: flex;
                align-items: center;
                min-height: 468px;
            }
            @include media-breakpoint-down(md) {
                padding-left: 0px;
                padding-right: 0px;
                max-width: 100%;
            }
            
        }
        .about-video {
            @include media-breakpoint-up(lg) {
                position: absolute;
                left: 0;
                width: 50vw;
                display: flex; 
            }
            .video-box {
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                width: 100%;
                height: 468px;
                overflow: hidden;
                @include media-breakpoint-down(sm) {
                    height: 15rem;
                } 
                a {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
                i {
                    @include centre(both);
                    z-index: 2;
                    font-size: 55px;
                }
            }
        }
        .about-text {
            @include media-breakpoint-up(lg) {
                margin-left: 48%;
                display: flex;
            }
            .about-box {
                padding: 5%;
                min-height: 400px;
                -webkit-box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.03);
                box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.03);
                text-align: left;
                background-color: #fff;
                z-index: 2;
                border-radius: 5px;
                position: relative;
                @include media-breakpoint-down(md) {
                    width: 90%;
                    margin: -40px auto 0;
                    padding: 1.5rem;
                }
                @include media-breakpoint-down(sm) {
                    width: 91%;
                }
            }
            h3 {
                margin-bottom: 20px;
                font-family: $mark-bold;
                font-size: 1.250em;
                color: #000;
            }
            p {
                margin-bottom: 16px;
                color: #888;
            }
        }
    }
}