/*===============================
=            Areas          =
===============================*/

.all-areas {
    background-color: #f7f7f7;
    padding-top: 95px;
    @include breakpoint (desktop) {
       padding-top: 75px;
    }
    @include media-breakpoint-only(lg) {
        padding-top: 65px;
    }
    @include media-breakpoint-only(md) {
        padding-top: 55px;
    }
    @include media-breakpoint-down(sm) {
        padding-top: 45px;
    }
    .intro {
        width: 100%;
        @include media-breakpoint-down(md) {
            margin-bottom: 0;
        }
    }
    .all-areas__top {
        padding: 80px 0 100px;
        @include breakpoint (desktop) {
           padding: 70px 0 80px;
        }
        @include media-breakpoint-only(lg) {
            padding: 60px 0 70px;
        }
        @include media-breakpoint-only(md) {
            padding: 50px 0 60px;
        }
        @include media-breakpoint-down(sm) {
            padding: 50px 0 30px;
        }
        &:before, &:after {
            display: table;
            content: '';
            clear: both;
        }
    }
    .container {
        @include media-breakpoint-up(lg) {
            max-width: 830px;
        }
    }
    .area-select,
    .map-display {
        float: left;
        width: 33%;
        @media (max-width: 860px) {
            float: none;
            width: 100%;
        }
    }
    .map-display {
        position: relative;
        padding-right: 30px;
        width: 67%;
        width: 503px;
        height: 311px;
        @media (max-width: 860px) {
            display: none;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
        }
        .map-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            img {
                opacity: 0;
                transition: all 0.3s ease;
            }
            &.active .cloud-title {
                opacity: 1;
                z-index: 3;
            }
            &.active-side img,
            &.default img {
                opacity: 1;
            }
            &.west .cloud-title {
                left: 80px;
            }
            &.east .cloud-title {
                left: auto;
                right: -60px;
            }
            .cloud-title {
                opacity: 0;
                transform: translate(-50%, -50%);
                top: 30%;
                width: 185px;
                height: 75px;
                background: #fff;
                border-radius: 5px;
                position: absolute;
                left: 50%;
                @include animate-fade;
                span {
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 80%;
                    text-align: center;
                }
                &:after,
                span {
                    position: absolute;
                    left: 50%;
                }
                &:after {
                    transform: translateX(-50%);
                    bottom: -15px;
                    display: block;
                    content: "";
                    width: 0;
                    height: 0;
                    border-left: 20px solid transparent;
                    border-right: 20px solid transparent;
                    border-top: 30px solid #fff;
                }
            }
        }
        .map-hover-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .map-hover {
                position: relative;
                float: left;
                width: 33.33%;
                height: 100%;
                z-index: 9;
                &:hover {
                    cursor: pointer;
                }
            }
        } 
    }
    .area-select {
        padding-top: 60px;
        float: right;
        @include media-breakpoint-only(md) {
            padding-top: 20px;
        }
        @include media-breakpoint-down(sm) {
            padding-top: 0px;
        }
        select {
            margin-bottom: 23px;
            width: 100%;
            height: 48px;
            border: 0;
            border-radius: 5px;
            background-color: #fff;
            padding: 0 16px;
            font-size: 0.875em;
            color: #888;
        }
    }

    .list-areas-display {
        padding: 30px 0 80px;
        background-color: #fff;
        @include breakpoint (desktop) {
           padding-bottom: 70px;
        }
        @include media-breakpoint-only(lg) {
            padding-bottom: 50px;
        }
        @include media-breakpoint-only(md) {
            padding-bottom: 40px;
        }
        @include media-breakpoint-down(sm) {
            padding-bottom: 20px;
        }
        h3 {
            margin-top: 90px;
            margin-bottom: 40px;
            padding-bottom: 30px;
            font-family: $mark-med;
            font-size: 1.250em;
            border-bottom: 1px solid #e6e6e6;
            clear: both;
            @include breakpoint (desktop) {
               margin-top: 80px;
            }
            @include media-breakpoint-only(lg) {
                margin-top: 60px;
            }
            @include media-breakpoint-only(md) {
                margin-top: 50px;
                font-size: 1.1em;
            }
            @include media-breakpoint-down(sm) {
                margin-top: 40px;
                font-size: 1em;
            }
        }
        .country-wrapper {
            margin-left: -10px;
            margin-right: -10px;
            &:before, &:after {
                content: "";
                display: table;
                clear: both;
            }
            .country-box {
                float: left;
                width: 25%;
                margin-bottom: 30px;
                padding-left: 10px;
                padding-right: 10px;
                @include media-breakpoint-down(sm) {
                    width: 50%;
                }
                h4 {
                    margin-bottom: 30px;
                    font-family: $mark-med;
                    font-size: 1.250em;
                    color: #000;
                    @include media-breakpoint-only(md) {
                        font-size: 1.1em;
                        margin-bottom: 20px;
                    }
                    @include media-breakpoint-down(sm) {
                        font-size: 1em;
                        margin-bottom: 20px;
                    }
                    &:hover {
                        a {
                            color: $red;
                        }
                    }
                    a {
                        color: inherit;
                    }
                }
                ul {
                    li {
                        a {
                            display: inline-block;
                            margin-bottom: 15px;
                            font-size: 0.975em;
                            color: #757575;
                            @include media-breakpoint-only(md) {
                                margin-bottom: 10px;
                            }
                            &:hover {
                                color:$orange;
                            }
                        }
                    }
                }
            }
        }
    }
}




