/*===============================
=        Services Page          =
===============================*/

.services-list-inner {
    padding-top: 90px;
    padding-bottom: 120px;
    @media (max-width: 1200px) {
        padding-bottom: 40px;
    }
    @include breakpoint (desktop) {
        padding-top: 80px;
    }
    @include media-breakpoint-only(lg) {
        padding-top: 70px;
    }
    @include media-breakpoint-only(md) {
        padding-top: 60px;
    }
    @include media-breakpoint-down(sm) {
        padding-top: 50px;
    }
    .intro {
        @include media-breakpoint-down(sm) {
            margin-bottom: 0px;
        }
    }
    .service-content {
        @include media-breakpoint-up(lg) {
            min-height: 468px;
        }
        @include media-breakpoint-down(md) {
            margin-bottom: 40px;
        }
        &:nth-of-type(even) {
            .service-photo {
                @include media-breakpoint-up(lg) { 
                    left: auto;
                    right: 0;
                }
            }
            .service-text {
                @include media-breakpoint-up(lg) {
                    margin-left: 0;
                    margin-right: 48%;
                }
            }
        }
        .container {
            @include media-breakpoint-up(lg) {
                display: flex;
                align-items: center;
                min-height: 468px;
            }
            @include media-breakpoint-down(md) {
                padding-left: 0px;
                padding-right: 0px;
                max-width: 100%;
            }
            
        }
        .service-photo {
            @include media-breakpoint-up(lg) {
                position: absolute;
                left: 0;
                width: 50vw;
                display: flex; 
            }
            .photo-box {
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                width: 100%;
                height: 468px;
                overflow: hidden;
                @include media-breakpoint-only(md) {
                    height: 20rem;
                } 
                @include media-breakpoint-down(sm) {
                    height: 15rem;
                } 
                i {
                    @include centre(both);
                    z-index: 2;
                    font-size: 55px;
                }
            }
        }
        .service-text {
            @include media-breakpoint-up(lg) {
                margin-left: 48%;
                display: flex;
            }
            .service-box {
                padding: 5%;
                min-height: 400px;
                -webkit-box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.03);
                box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.03);
                text-align: left;
                background-color: #fff;
                z-index: 2;
                border-radius: 5px;
                position: relative;
                @include media-breakpoint-down(md) {
                    width: 90%;
                    margin: -40px auto 0;
                    padding: 1.5rem;
                    min-height: auto;
                }
                @include media-breakpoint-down(sm) {
                    width: 91%;
                }
            }
            h3 {
                margin-bottom: 20px;
                font-family: $mark-bold;
                font-size: 1.250em;
                color: #000;
            }
            p {
                margin-bottom: 26px;
                color: #888;
            }
            .service-cta {
                font-family: $mark-med;
                font-size: 14px;
                color: $red;
            }
        }
    }
}