// mobile menu

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}




/*==========Sub Menu=v==========*/

#menu {
    ul {
        >li:hover>a,
        ul>li:hover>a {
            background: #fff;
        }
    }
    ul ul {
        background: #fff;
        border: 1px solid #eee;
        padding-top: 10px;
        padding-bottom: 10px;
        ul>li:hover>a,
        &.dropdown-menu {
            background: #fff;

        }
        ul {
            background: #fff;
            &.dropdown-menu {
                background: #fff;
            }
            ul {
                background: #fff;
                &.dropdown-menu {
                    background: #fff;
                }
            }
        }
        li {
            padding: 0 15px;
        }
        a {
            padding: 10px 5px;
            border-bottom: 1px solid #eee;
        }
    }
    ul ul .dropdown-toggle {
        position: relative;
        &::after {
            border: 0;
            margin: 0;
            padding: 0;
            content: "\e905";
            font-family: 'icomoon';
            font-weight: 400;
            @include centre(y);
            right: 15px;
            color: #202020;
        }
    }
    .dropdown-menu {
        >li:last-of-type>a {
            border-bottom: 0;
        }
        &.fade {
            display: block;
            opacity: 0;
            pointer-events: none;
        }
    }
    .dropdown:hover>.dropdown-menu.fade {
        pointer-events: auto;
        opacity: 1;
    }
}


/******************************Drop-down menu work on hover**********************************/

@media only screen and (min-width: 767px) {
    #menu ul {
        li:hover>ul {
            display: block;
        }
        ul {
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 170px;
            display: none;
            top:35px;
            li {
                position: relative;
                &:hover>ul {
                    display: block;
                }
            }
            ul {
                position: absolute;
                top: 0;
                left: 100%;
                min-width: 250px;
                display: none;
                li {
                    position: relative;
                    &:hover ul {
                        display: block;
                    }
                }
                ul {
                    position: absolute;
                    top: 0;
                    left: -100%;
                    min-width: 250px;
                    display: none;
                    z-index: 1;
                }
            }
        }
    }
}


// mobile menu

.menu-overlay {
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;	
}

.active-overlay {
	opacity: 1;
    visibility: visible;	
}

.main-menu-sidebar {
	background:$red;
	width:310px;
	position:fixed;
	height:100%;
	top:0px;
	right:-310px;
	z-index:99999;
	transition:.45s ease-in-out;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 30px;
    overflow-y:scroll;
    /* close menu */
    header {
        position: relative;
    }
    .close-menu-btn {
        position: absolute;
        top:15px;
        right:-10px;
        color:$white;
        font-size: 20px;
        width: 32px;
        height: 32px;
        img {
            @include centre(both);
            width: 22px;
            filter: brightness(0) invert(1);
        }
    }
    // arrow
    small {
        display:block;
        width:50px;
        height:50px;
        position: absolute;
        top:0px;
        right:0px;    
        &:after {
            display: block;
            content:url('../img/ico/angle-right-light.svg');
            color:$red;
            font-size: 24px!important;
            @include centre(both);
            width: 12px;
            height: 32px;
            filter: brightness(0) invert(1);

        }
        &.active {
            &:after {
                content:url('../img/ico/angle-down-light.svg');
                @include centre(both);
                width: 16px;
                filter: brightness(0) invert(1);

            }						
        }          
    }
	/* main menu */
	#sidebar-menu-wrapper {
        padding-top: 15px;
		#menu-mob {
            padding-top: 30px;
			.nav-links {
                padding-top: 40px;
                .menu-item-has-children {
                    position: relative;
                }
				> li > a {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    font-size: 16px;
                    color:$white;
                    position: relative;
                    padding-left: 0px;
                    padding-right: 0px;
                    text-transform: uppercase;
                    display: block;
                    font-family: $font-heading;
                    padding-right: 50px;
                    font-family: $mark-med;
                    border-bottom: 1px solid rgba($white, 0.3);
					&:hover {
						color:$white;
					}
				}
				li {
					ul {
						padding-top: 10px;
						padding-bottom: 10px;
						li {
							a {
								display: block;
								font-size: 1em;
								color:$white;
								padding-top: 5px;
								padding-bottom: 5px;
								padding-left: 20px;
								position: relative;
								line-height: 1.3;
                                
								&:hover {
									color:$white;
									padding-left: 20px;
									&:before {
										width: 10px;
										background-color:$white;
									}
								}
							}
						}
					}
				}
				.has-menu > a {
					position:relative;
				}
			}
		}

	}
}


.body-scroll {
	overflow-y:hidden!important;
}

.menu-active {
	right: 0;
}

.mob-socials {
    text-align: center;
    padding-top: 50px;
    li {
        display: inline-block;
        margin-right: 5px;
        margin-left: 5px;
        &:last-of-type {
            margin-right: 0;
        }
        a {
            div {
                font-size: 30px;
                @include animate-fade;
            }
            &:hover {
                div {
                    opacity: .7;
                }
            }
        }
    }    
}