@font-face {
    font-family: 'Mark Bold';
    src: url('../fonts/Mark-Bold.woff2') format('woff2'),
        url('../fonts/Mark-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mark Medium';
    src: url('../fonts/Mark-Medium.woff2') format('woff2'),
        url('../fonts/Mark-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mark Book';
    src: url('../fonts/Mark-Book.woff2') format('woff2'),
        url('../fonts/Mark-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mark Regular';
    src: url('../fonts/Mark-Regular.woff2') format('woff2'),
        url('../fonts/Mark-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


$mark-bold: 'Mark Bold';
$mark-reg: 'Mark Regular';
$mark-book: 'Mark Book';
$mark-med: 'Mark Medium';


$font-main: 'Mark Regular';
$font-heading:  'Mark Bold';



body { 
	font: {
		size:$base-size;
		family: $font-main;
	}
	-webkit-text-size-adjust: 100%;  //fix for iOS
    overflow-x:hidden; 
    color: #000;   
}

p {
    font-family: $mark-book;
    font-size: 0.875em;
    line-height: 1.4;
    color: #444;
    margin-bottom: 0;
    a {
        color: $red;
        &:hover {
            text-decoration: underline;
        }
    }
}

ul {
    list-style: none;
    margin:0px;
    padding:0px;
}

h1, h2, h3, h4, h5, h6 {
}

// reset
a {
    @include animate-fade;
    &:hover {
        text-decoration: none;
    }
}

a, button, input, textarea {
    &:focus {
        outline: none!important;
    }
}

address {
    margin:0px;
    padding:0px;
}

i {
    font-style: normal;
}

