// 0. Path.
$assets: '../img';

// 1. Colors.
$black:#000;
$white:#fff;
$red: #ee3f23;
$hover: darken( $red, 10% );
$blue: #0d6efd;
$green: #198754;
$orange: #fd7e14;

// 2. Sizes
$base-size:16px;



